/**
  |============================
  | Colors
  |============================
*/
$main-black: #202025; // Всюди, де ви бачите чорний!
$main-black-80: rgba(32, 32, 37, 0.8); // Підзаголовок світлої теми
$main-white: #FCFCFC; // Основний білий + ховер кнопки
$main-white-80: rgba(252, 252, 252, 0.8); // Підзаголовок темної теми
$main: #FD5103; // Основний оранжевий
$main-active: rgb(255, 69, 0); // яскравий помаранч
$secondary: #FE7031; // Pressed buttons
$grey: #5F6775; // Основний сірий
$shadow-grey-25: rgba(95, 103, 117, 0.25); // Letter shadow
$secondary-grey: #BDBDBD; // Опис інгридієнтів і коктелів в модалках темна тема
$pagin-grey-light: #EAEBEA; // Бордер пагінації світла тема
$pagin-grey-dark: #4F4E4E; // Бордер пагінації темна тема
$pagin-grey-arrow: #D7D7D7; // Світла тема