<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code-Tails</title>
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
  </head>

  <body>
    <include src="./partials/header.html"></include>
    <include src="./partials/mob-menu.html"></include>
    <include src="./partials/modal-cocktails.html"></include>
    <include src="./partials/modal-ingredients.html"></include>

    <section class="container">
      <div class="favorite">
        <h2 id="fav-title" class="fav__title">Favorite cocktails</h2>
        <ul id="fav-cocktails" class="content-results"></ul>

        <!-- Cocktail cards -->
      </div>
    </section>
    <include src="./partials/footer.html"></include>
    <script src="/src/js/fav-cocktails.js" type="module"></script>

    <script src="./js/search.js" type="module"></script>
  </body>
</html>
