<footer>
  <div class="footer">
    <h2 lang="uk" class="footer__title">Надмірне споживання алкоголю шкідливе для вашого здоров'я</h2>
    <p class="footer__info">
      © 2023 All Rights Reserved. Developed by<button
        class="footer__link"
        id="open-modal-footer"
      >
        CodeTails team
      </button>
      <div id="modal-footer" class="modal-footer">
        <div class="modal-content">
          <button class="modal__button" data-modal-close>
    <svg class="modal-icon-close">
          <use href="./img/sprite.svg#icon-close-line"></use>
        </svg>
    </button>
            <h2 class="footer__title">CodeTails TEAM</h2>
             <ul class="footer__list">
      <li class="footer__item">
        <img class="footer__image" src="./img/developers/1.png" />
        <a href="https://github.com/tkravche">
        <p class="modal__text" > Omelianchyk <br> Kateryna </p></a>
      </li>
      <li class="footer__item"> <a href="https://github.com/jarastar">
        <img class="footer__image" src="./img/developers/2.png" />
        <p class="modal__text" > Yarosevych <br> Taras </p></a>
      </li>
      <li class="footer__item"> <a href="https://github.com/OlenaUsikova">
        <img class="footer__image" src="./img/developers/3.png" />
         <p class="modal__text" > Usik <br> Olena </p></a>
      </li>
      <li class="footer__item"> <a href="https://github.com/artemivanichenko">
        <img class="footer__image" src="./img/developers/4.png" />
         <p class="modal__text" > Ivanichenko <br> Artem </p></a>
      </li>
      <li class="footer__item"> <a href="https://github.com/Katrin9959">
        <img class="footer__image" src="./img/developers/5.png" />
         <p class="modal__text" > Omelianchyk <br> Kateryna </p></a>
      </li>
      <li class="footer__item"> <a href="https://github.com/R0nde1">
        <img class="footer__image" src="./img/developers/6.png" />
         <p class="modal__text" > Surname <br> Ronald </p></a>
      </li>
      <li class="footer__item"> <a href="https://github.com/SkybaMaryna">
        <img class="footer__image" src="./img/developers/7.png" />
         <p class="modal__text"> Skyba <br> Maryna </p></a>
      </li>
      <li class="footer__item"> <a href="https://github.com/">
        <img class="footer__image" src="./img/developers/8.png" />
         <p class="modal__text"> Filippov <br> Vladyslav </p></a>
      </li>
      <li class="footer__item"> <a href="https://github.com/MariyaGanina">
        <img class="footer__image" src="./img/developers/9.png" />
         <p class="modal__text" > Ganina <br> Mariya </p></a>
      </li>
      <li class="footer__item"> <a href="https://github.com/Snovanakid">
        <img class="footer__image" src="./img/developers/10.png" />
         <p class="modal__text" > Palamarchuk <br> Denis </p></a>
      </li>
    </ul>
        </div>
        </div>
    </p>
  </div>
</footer>
<script src="js/modal-footer.js" type="module"></script>