<section class="hero__section">
  <div class="container hero__box">
    <h1 class="hero__mobtitle">
      A party without cocktails<br /> is not like a party
    </h1>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="./img/cocktail_tab.png, ./img/cocktail_desk@2x.png 2x"
        type="image/png"
      />

      <source
        media="(min-width: 768px)"
        srcset="./img/cocktail_tab.png, ./img/cocktail_tab@2x.png 2x"
        type="image/png"
      />

      <source
        media="(max-width: 767px)"
        srcset="./img/cocktail_mob.png, ./img/cocktail_mob@2x.png 2x"
        type="image/png"
      />
      <img
        class="hero_image"
        src=" ./img/cocktail_desk.png"
        alt="cocktail"
        width="501"
        height="439"
      />
    </picture>
    <div class="hero__info">
      <h2 class="hero__title">
        A party without cocktails<br /> is not like a party
      </h2>
      <p class="choice__label">Search your favorite cocktail by ABC</p>
      <div class="symbol__panel selectword">
        <ul class="first__line">
          <li>
            <div class="keyboard__item" data-id="a">A</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="b">B</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="c">C</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="d">D</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="e">E</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="f">F</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="g">G</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="h">H</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="i">I</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="j">J</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="k">K</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="l">L</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="m">M</div>
          </li>
        </ul>
        <ul class="first__line">
          <li>
            <div class="keyboard__item" data-id="n">N</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="o">O</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="p">P</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="q">Q</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="r">R</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="s">S</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="t">T</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="u">U</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="v">V</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="w">W</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="x">X</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="y">Y</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="z">Z</div>
          </li>
        </ul>
        <ul class="number__line">
          <li>
            <div class="keyboard__item" data-id="1">1</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="2">2</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="3">3</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="4">4</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="5">5</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="6">6</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="7">7</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="8">8</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="9">9</div>
          </li>
          <li>
            <div class="keyboard__item" data-id="0">0</div>
          </li>
          <li>
            <div class="keyboard__item"></div>
          </li>
        </ul>
      </div>
    </div>
    <include src="./partials/select.html"></include>
    </div>
  </div>
</section>
<script src="./js/select.js" type="module"></script>
