<section id="content">
    <div class="container">
        <h2 id="content-title">Cocktails</h2>
        <ul id="content-results" class="content-results">
            <!-- Cocktail cards -->
        </ul>
        <ul id="pagination" class="pagination">
            <!-- Pagination -->
        </ul>
    </div>
</section>

<!-- up -->

<div class="scroll__top">
    <svg class="scroll__top-svg" viewBox="-2 -2 52 52">
      <path
        class="scroll__top-svg-path"
        d="M24,0
      a24,24 0 0,1 0,48
      a24,24 0 0,1 0,-48"
      />
    </svg>
  </div>

<script src="js/main.js" type="module"></script>