<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button class="modal__button" data-modal-close>
        <svg class="modal-icon-close" width="18" height="18">
          <use href=""></use>
        </svg>
      </button>

        <div class="modal__contact" data-modal-contact>
          <strong class="modal__title">посилання</strong>
          <h2>INSTRACTION:</h2>
          <p class="paragraf">
            посилання
          </p>
          <img
          class="modal1__picture"
          srcset="
            ./images/thank_mob@1x.png  188w,
            ./images/thank_mob@2x.png  376w,
            ./images/thank_tabl@2x.png 367w,
            ./images/thank_tabl@2x.png 734w
          "
          sizes="(min-width: 1280px) 367px, (min-width: 768px) 367px, (min-width: 320px) 188px, 100vw"
          src="#"
          alt=""
          width="280"
          height="280"
        />
        <h2> INGREDIENTS</h2>
        <h3> Per cocktail</h3>
        <ul>
            <li>
            </li>
        </ul>
      
          <button class="modal__button-add" type="button" data-modal-add>
            Add to favorite
          </button>
          <button class="modal__button-remove" type="button" data-modal-remove>
            Remove from favorite
          </button>
        </div>