<div class="ingredients">
  <div class="ingredients__btn">
    <button type="button" class="ingredients__button-close">
      <svg class="ingredients__svg-close">
        <use href="./img/sprite.svg#icon-close-line"></use>
      </svg>
    </button>
  </div>
  <h2 class="ingredients__title">Campari</h2>
  <h3 class="ingredients__topic">Liqueur</h3>
  <hr class="ingredients__line" />
  <p class="ingredients__text">
    <span class="ingredients__bold">Campari</span> is an Italian alcoholic
    liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5% ABV,
    depending on the country in which it is sold), obtained from the infusion of
    herbs and fruit (including chinotto and cascarilla) in alcohol and water. It
    is a bitters, characterised by its dark red colour.
  </p>
  <ul class="ingredients__list">
    <li class="ingredients__item">
      <span class="ingredients__black">✶</span> Type: Bitters
    </li>
    <li class="ingredients__item">
      <span class="ingredients__black">✶</span> Country of origin: Italy
    </li>
    <li class="ingredients__item">
      <span class="ingredients__black">✶</span> Alcohol by volume: 20.5–28.5%
    </li>
    <li class="ingredients__item">
      <span class="ingredients__black">✶</span> Flavour: Bitter, spicy and sweet
    </li>
  </ul>
  <button type="button" class="ingredients__button">Add to favorite</button>
</div>
