.cocktails__item {
  display: block;
  margin: 0;
  width: 280px;
  height: 449px;
  list-style: none;
  border: 1px solid $main;
  border-radius: 4px;
  overflow: hidden;
  transition: scale 250ms ease-in;
  &:hover {
    scale: 1.015;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
    // width: 335px;
    height: 541px;
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 32px * 2) / 3);
    // width: 394px;
    height: 556px;
  }
}
.cocktails__img {
  margin-bottom: 48px;
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  @media screen and (min-width: 768px) {
    height: 395px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    height: 395px;
  }
}
.cocktails__name {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  color: $main-black;
  transition: text-shadow 250ms ease-in;
  margin: 25px auto;
  overflow:hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 85%;
  @media screen and (min-width: 768px) {
    line-height: calc(33 / 26);
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 32px;
    line-height: calc(38 / 32);
  }
}
.btn__learn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: $main-white;
  background: $secondary;
  border-radius: 4px;
  border: 1px solid transparent;
  filter: drop-shadow(0px 4px 4px $shadow-grey-25);
  width: 108px;
  height: 40px;
  padding: 0;
  transition: all 250ms ease-in;
  &:hover {
    background-color: $main-white;
    filter: none;
    color: $main;
  }
  &:active {
    color: $main-white;
    background-color: $main;
  }
  @media screen and (min-width: 768px) {
    width: 160px;
    height: 48px;
  }
}
.btn__add {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: $main;
  background: transparent;
  border: 2px solid $main;
  border-radius: 4px;
  width: 108px;
  height: 40px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  & .heart-icon {
      display: flex;
  
      & .icon-background {
        fill: $main-white;
      }
  
      & .icon-outline {
        fill: $main;
      }
    }

  &:hover {
    border: 2px solid $main;
    background-color: $main-white;
  }
  &:active {
    border: 1px solid $main;
    border-radius: 4px;
  }
  &:active .heart-icon {
    & .icon-background {
      fill: $main;
    }
  }

  @media screen and (min-width: 768px) {
    width: 123px;
    height: 48px;
  }
}
.cocktails__btns {
  display: flex;
  justify-content: center;
  gap: 7px;
  @media screen and (min-width: 320px) {
    gap: 17px;
  }
}


