.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: visible;
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .is-hidden .modal {
    animation: none;
  }
  .modal {
    // &__contact {
    //   &.hide-contact-modal {
    //     opacity: 0;
    //     pointer-events: none;
    //   }
    // }    
    
    }
  
    &__title {
      text-align: left;
      font-weight: 900;
      font-size: 32px;
      line-height: calc(38 / 32);
      color: #202025;
      margin-bottom: 20px;
      display: block;
        @media screen and (min-width: $tablet) {
          font-size: 32px;
          line-height: calc(39 / 32);
           margin-bottom: 20px;
       }
    }
    &__instractions{
      text-align: left;
      font-size: 16px;
      font-weight: 600;
      line-height: calc(26 / 16);
      margin-bottom: 20px;
      color: #202025;
      @media screen and (min-width: $tablet) {
          font-size: 16px;
          line-height: calc(20 / 16);
          margin-bottom: 34px;
       }
    }
  &__paragraf{
    text-align: left;
      font-size: 16px;
      font-weight: 400;
      line-height: calc(28 / 16);
      margin-bottom: 32px;
      color: #5f6775; 
      @media screen and (min-width: $tablet) {
        font-size: 16px;
        line-height: calc(20 / 16);
        margin-bottom: 34px;
     }
  }
    &__picture {
      padding-left: 42px;
      padding-right: 42px;
      margin-bottom: 22px;
      min-width: 280px;
      min-height: 280px;
    }

  
  .modal {
    max-width: 272px;
    width: 100%;
    width: 528px;
    height: 357px;
  
    background-color: #fff;
    position: relative;
    transition: transform 250ms liniar;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 28px;
    animation: zoom 750ms linear forwards;
  
  
  
    @media screen and (min-width: 768px) {
      max-width: none;
      width: 822px;
      padding-right: 32px;
      padding-left: 32px;
      padding-top: 32px;
      padding-bottom: 48px;
      height: 505px;
    }
  
    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: calc(24 / 20);
      text-align: left;
      letter-spacing: 0.03em;
      color: #000000;
      margin-bottom: 14px;
      display: block;
      @media screen and (min-width: 768px) {
        font-size: 32px;
        line-height: calc(39 / 32);
        margin-bottom: 24px;
      }
    }
    &__paragraf {
      font-size: 12px;
      line-height: calc(14 / 12);
      margin-bottom: 18px;
      text-align: left;
      color: #5c5c5c;
      @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: calc(19 / 16);
        margin-bottom: 32px;
      }
    }

  
    &__button {
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000000;
      position: absolute;
      top: 8px;
      right: 8px;
      color: #000000;
      fill: #000000;
      transition: color 250ms linear;
      cursor: pointer;
    }
    &__picture {
        padding-left: 42px;
        padding-right: 42px;
        margin-bottom: 16px;
        min-width: 188px;
        min-height: 142px;
      }

    &__button-add {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 12px 24px;
         gap: 10px;  
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: calc(24 / 20);
      letter-spacing: 0.2;
      color: #fcfcfc;
      background-color: #fd5103;
      border-radius: 4px;
      border: 0;
      margin-bottom: 40px;
      min-width: 248px;
      height: 48px;
      @media screen and (min-width: 768px) {
        height: 50px;
        min-width: 416px;
      }
      @media screen and (min-width: 1200px) {
      
      }
      &__button-remove {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 12px 24px;
         gap: 10px;  
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: calc(24 / 20);
      letter-spacing: 0.2;
      color: #fcfcfc;
      background-color: #fd5103;
      border-radius: 4px;
      border: 0;
      margin-bottom: 40px;
      min-width: 185px;
      height: 48px;
        @media screen and (min-width: 768px) {
          height: 50px;
          min-width: 416px;
        }
        @media screen and (min-width: 1200px) {
        
        }
    }
  }
  
  @keyframes zoom {
    0% {
      transform: scale(0.2);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}