.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: visible;
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .is-hidden .modal {
    animation: none;
  }
  .modal {
    &__contact {
      &.hide-contact-modal {
        opacity: 0;
        pointer-events: none;
      }
    } 
    
    &__thanks {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      min-width: 272px;
      max-width: 480px;
      width: 100%;
      padding: 32px 16px;
      background-color: #fff;
  
      transition: transform 250ms liniar;
      animation: zoom 750ms linear forwards;
  
      &.show-thanks-modal {
        display: block;
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
        position: relative;
        right: 17px;
        bottom: 330px;
        animation: zoom 750ms linear forwards;
      }
    }
  
    &__title {
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      line-height: calc(24 / 20);
      margin-bottom: 14px;
      display: block;
        @media screen and (min-width: $tablet) {
          font-size: 32px;
          line-height: calc(39 / 32);
           margin-bottom: 16px;
       }
    }
    &__paragraf2 {
      text-align: center;
      font-size: 12px;
      line-height: calc(15 / 12);
      margin-bottom: 18px;
      color: #d7d7d7;
      @media screen and (min-width: $tablet) {
          font-size: 16px;
          line-height: calc(20 / 16);
          margin-bottom: 34px;
       }
    }
  
    &__picture {
      padding-left: 42px;
      padding-right: 42px;
      margin-bottom: 16px;
      min-width: 188px;
      min-height: 142px;
    }
    &__button-send{
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      line-height: calc(17 / 14);
      color:$white-color;
      background-color: $main-btn-color;
      border-radius: 8px;
      border:0;
      margin-left: auto;
      margin-right: auto;
      min-width: 240px;
      height: 37px;
      padding: 10px 35px;
    
      @media screen and (min-width: 768px){
          height: 50px;
          min-width: 416px;
      }
    }
    
  }
  
  .modal {
    max-width: 272px;
    width: 100%;
    width: 528px;
    height: 357px;
  
    background-color: #fff;
    position: relative;
    transition: transform 250ms liniar;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 28px;
    animation: zoom 750ms linear forwards;
  
  
  
    @media screen and (min-width: 768px) {
      max-width: none;
      width: 480px;
      padding-right: 32px;
      padding-left: 32px;
      padding-top: 32px;
      padding-bottom: 48px;
      height: 505px;
    }
  
    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: calc(24 / 20);
      text-align: left;
      letter-spacing: 0.03em;
      color: #000000;
      margin-bottom: 14px;
      display: block;
      @media screen and (min-width: 768px) {
        font-size: 32px;
        line-height: calc(39 / 32);
        margin-bottom: 24px;
      }
    }
    &__paragraf {
      font-size: 12px;
      line-height: calc(14 / 12);
      margin-bottom: 18px;
      text-align: left;
      color: #5c5c5c;
      @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: calc(19 / 16);
        margin-bottom: 32px;
      }
    }
    &__label {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &__comment {
      font-size: 10px;
      line-height: calc(12 / 10);
      letter-spacing: 0.03em;
      color: #5c5c5c;
    }
  
    &__button {
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--primary-bg-color);
      position: absolute;
      top: 8px;
      right: 8px;
      color: #000000;
      fill: #000000;
      transition: color 250ms linear;
      cursor: pointer;
    }
  
    &__button-add {
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      line-height: calc(17 / 14);
      color: #fff;
      background-color: #e86f54;
      border-radius: 8px;
      border: 0;
      margin-left: auto;
      margin-right: auto;
      min-width: 240px;
      height: 37px;
      padding: 10px 35px;
      @media screen and (min-width: 768px) {
        height: 50px;
        min-width: 416px;
      }
      @media screen and (min-width: 1200px) {
      
      }
      &__button-remove {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: calc(17 / 14);
        color: #fff;
        background-color: #e86f54;
        border-radius: 8px;
        border: 0;
        margin-left: auto;
        margin-right: auto;
        min-width: 240px;
        height: 37px;
        padding: 10px 35px;
        @media screen and (min-width: 768px) {
          height: 50px;
          min-width: 416px;
        }
        @media screen and (min-width: 1200px) {
        
        }
    }
  }
  
  @keyframes zoom {
    0% {
      transform: scale(0.2);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }