.modal {
  display: none;
  position: relative;
  background-color: $main-white;
  padding: 40px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;

  @media screen and (min-width: 768px) {
    padding: 40px 28px;
    max-width: 822px;
    height: 598px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
}

.modal__cocktail {

  @media screen and (min-width: 768px) {
    --img-size: 288px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.ingredients__list {
 
  list-style: none;
  padding-left: 0px;
  margin-left: 0;
  margin-bottom: 32px;
  color: $grey;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(26 / 16);

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    height: 100px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 3px;
      height: 34px;
  }
&::-webkit-scrollbar-thumb {
      background: $main;
      border-radius: 11px;
  }
  }
}

.ingredientsBlack {
  color: $main-black;
}
.modal__title {
  margin-bottom: 28px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 32px;
  line-height: calc(38 / 32);

  color: $main-black;
}
.modal__instructions-hold {
  margin-bottom: 8px ;
  @media screen and (min-width: 768px) {
    order: 1;
    margin-bottom: 40px;
    max-width: 615px;
  }
}

.modal__instructions {
  margin-bottom: 24px;
font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-transform: uppercase;
  color: $main-black;
}

.modal__picture {
  width: 100%;
  max-width: 280px;
  max-height: 280px;
  margin-bottom: 22px;
  
  @media screen and (min-width: 768px) {
    width: auto;
    height: 320px;
    max-width: var(--img-size);
    max-height: 320px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.modal__ingredients{
  margin-bottom: 8px;
}
.modal__ingredients-hold{
  @media screen and (min-width: 768px) {
   margin-bottom: 20px;
  }
}
.modal__description{
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14px;
  line-height: calc(21 / 14);
  // text-transform: uppercase;
  color: $main-black;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .modal__title,
  .modal__ingredients-hold {
    padding-left: var(--img-size);
  }
}

.instruction {
  margin-bottom: 32px;
  color: $grey;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(28 / 16);
  @media screen and (min-width: 768px){
    height: 110px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 3px;
      height: 34px;
  }
&::-webkit-scrollbar-thumb {
      background: $main;
      border-radius: 11px;
  }
  }
}

.modal__button-add {
  padding: 12px 24px;
  color: $main-white;
  background-color: $secondary;
  border-radius: 4px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(24 / 20);

  letter-spacing: 0.02em;
  position: absolute;
  bottom: 40px;
  left: 28px;
  &:hover {
    background-color: $main-white;
    filter: none;
    color: $main;
  }
  &:active {
    color: $main-white;
    background-color: $main;
  }
  
  @media screen and (min-width: 768px) {
   right: 28px;
   left: unset;
    order: 2;
    
  }
}

.modal__button{
  display: flex;
  background: none;
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
  
  &:hover{
    fill: $main;
  }


  @media screen and (min-width: 768px) {
    top: 12px;
    right: 12px;
  }
}

.modal-icon-close {
  height: 32px;
  width: 32px;
  border: none;
  background: transparent;
}


.show-modal {
  display: block;
}