.select {
	margin: 0 auto;
	width: 93px;
}

.select.is-active .select__body {
	display: block;
}

.select__header {
	cursor: pointer;
	display: flex;
    align-items: center;
    border: 1px solid $main;
    border-radius: 4px;
    padding: 4.5px 7px;
    transition: background-color 500ms;

    &.is-select {
        background-color: $main;
    }
}

.select__current {
	font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.38;
    color: $main;
    transition: color 500ms;

    &.is-select {
        color: $main-white;
    }
}

.select__icon {
	margin-left: auto;
    fill: $main;
    transition: fill 500ms;
    transition: transform 500ms;

    &.is-select {
        fill: $main-white;
    }

    &.is-active {
        transform: rotate(180deg);
    }
}

.select__body {
    border: 1px solid $main;
    border-radius: 4px;
	display: none;
    top: 100%;
	left: 0;
	right: 0;
    height: 84px;
    overflow-y: auto;

    &::-webkit-scrollbar {
            width: 3px;
            height: 34px;
        }
    
    &::-webkit-scrollbar-thumb {
            background: $main;
            border-radius: 11px;
        }
}

.select__item {
	cursor: pointer;
	font-family: 'Poppins';
    font-weight: 700;
    font-size: 10px;
    line-height: 1.5;
    color: $grey;
	padding: 6.5px 20px 6.5px 10px;
    border-radius: 4px;
    overflow: hidden;
}