
.dark-theme {
  & .search-form__input {
    color: $main-white;
    background-color: $main-black;
  }
  & .header-theme--light {
      color: $main-white;
    }
    & .header-theme--dark {
      color: $main;
    }
    & .fav__select-input {
      color: $main;
    }
    & .header-nav__element {
      color:$main-white;
      &:hover {
        color:$main;
       }
     &:focus {
        color:$main;
       }
       & .fav__dropdown-item.fav__nav-link{
        background-color: $main;
       }
           

    }
    & .btn__burger-icon {
      fill: $main-white;
    }
    & .fav__select-img{
      fill: $main-white;
    }
    & .fav__select-input.header-nav__element {
      color: $main-white;
      &:hover {
        color:$main;
       }
     &:focus {
        color:$main;
       }

    }
  }

.dark-theme {
  & .choice__label {
    color: $main-white;
    
  }}
  .dark-theme {
      & .select__header {
        background-color: $main;
        &:hover {
          background-color: $main-black;
          filter: none;
          color: $main;
        }
        &:active {
          color: $main-white;
          background-color: $main-black;
        }
      }
      & .select__current {
          color: $main-white;
        }
        & .select__icon {
          fill: $main-white;
        } 

  }

  .dark-theme {
      & .btn__add .heart-icon .icon-background {
         fill: $main-black;
      
         &:hover {
         fill: $main;
        }
        &:active {
         fill: $main;
        }

      }
  & .btn__add {
   background-color: $main-black;
   &:hover {
      background-color: $main-black;
     }
   &:active {
      background-color: $main-black;
     }
  }
  }

.dark-theme {
  & .modal {
    background-color: $main-black;
    color: $main-white;
    
  }
  & .ingredients__list{
    color: $main-white;
    @media screen and (min-width: 768px){
      color: $secondary-grey;
    }
  }
  & .ingredients-black {
    color: $main-white;
  }
  & .modal__title{
    color: $main-white;
  }
  & .modal__description{
    color: $main-white;
  }
  
  & .modal__instructions{
    color: $main-white;
  }
  & .instruction{
    color: $main-white;
    @media screen and (min-width: 768px){
      color: $secondary-grey;
    }
  }
  & .modal__button{
    fill: $main;
  }
  & .modal__button-add{
    color: $main-white;
    background-color: $main;;
  }
}

.dark-theme {
  & .ingredients {
    background-color: $main-black;
    color: $main-white;
    
  }
  & .ingredients__title{
    color: $main-white;
   
  }
  & .ingredients__button-close{
    fill: $main;
   
  }
  & .ingredients__black {
    color: $main-white;
  }
  & .ingredients__text{
    color: $main-white;
    @media screen and (min-width: 768px){
      color: $secondary-grey;
    }
  }
  & .ingredients__topic{
    color: $main-white;
  }

}

.dark-theme {
  & .footer__title {
    color: $main-white;
     }
  & .footer__info {
  color: $main-white;
       }
   & .footer__link {
   color: $main-white;
               }

  }
  .dark-theme {
    & .left-arrow.inactive{
      background-color: $main-black;
      color: $main-white;
      border-color: $secondary-grey;
       }
       & .right-arrow.inactive{
        background-color: $main-black;
        color: $main-white;
        border-color: $secondary-grey;
         }
         & .left-arrow.inactive,
         .right-arrow.inactive,
         .dots.inactive{
          background-color: $main-black;
         }
        & .pagination__number{
          border-color: $secondary-grey;
        }
                 }

.dark-theme {
  & .fav__select-input__mm{
    background-color: $main-black;
    color: $main-white;
                     }   
  & .burger-menu{
    background-color: $main-black;
    color: $main-white;
           }   
   & .header-nav__item__mm {
    &:hover {
    color:$main;
    }
    &:focus {
    color:$main;
    }
           }          
 }
 
.dark-theme {
  & .fav__title{
    color: $main-white;
    } 
 & .favorite__none{
    color: $main-white;
    }           
 }

 .dark-theme {
  & .modal-footer{
    background-color: $main-black;
    color: $main-white;
    }   
    & .modal__text{
      color: $main-white;
    }   
    & .footer__title{
      color: $main-white;
    }     
 }

 .dark-theme {
  & .menu-close__btn{
    fill: $main;
  }
 }