@import '../base/common';
@import '../base/reset';
@import '../base/container';
@import '../base/variables';

.footer {
  background-color: $main;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 60px;
}

.footer__title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 3;
  color: $main-black;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 2.5;
  }
  @media screen and (min-width: 1280px) {
    font-weight: 800;
    font-size: 32px;
    line-height: 2.25;
  }
}
.footer__info {
  width: 250px;
  margin: auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 2;
  color: $main-black;
  @media screen and (min-width: 768px) {
    width: 555px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
  }
  @media screen and (min-width: 1280px) {
    width: 888px;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.5;
  }
}

.footer__link {
  text-decoration: underline;
  background-color: transparent;
  border: 0;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.modal-ftr {
  display: none;
  background-color: $main-white;
  padding: 40px 20px;
  width: 320px;
  position: fixed;
  border-radius: 1%;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 0 1px $main;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    padding: 30px 15px;
    width: 710px;
    height: auto;
  }
  @media screen and (min-width: 1280px) {
    width: 1245px;
  }
}

.modal-content {
  margin: 20px auto;
}

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.footer__image {
  border: 2px solid;
  border-radius: 50%;
  border-color: $main;

  @media screen and (min-width: 768px) {
    width: 80px;
    height: 80px;
  }
  @media screen and (min-width: 1280px) {
    width: 120px;
    height: 120px;
  }
}
.modal__text {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.4;
  color: $main-black;
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: $main-black;
  }
  @media screen and (min-width: 1280px) {
    font-weight: 600;
    font-size: 17px;
    line-height: 1.7;
    color: $main-black;
  }
}
.modal__button {
  display: flex;
  background: none;
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;

  @media screen and (min-width: 768px) {
    top: 12px;
    right: 12px;
  }
}
.modal-icon-close {
  height: 32px;
  width: 32px;
  border: none;
  background: transparent;
  &:hover {
    fill: $main;
  }
}
