.header {
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {padding-bottom: 100px;}
    @media screen and (min-width: 1280px) {padding-bottom: 97px;}
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.header__logo {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: $main;
    font-size: 22px;
    line-height: calc(24/22);

    // !tablet screen // !desktop screen
    @media screen and (min-width: 768px) {
        font-size: 28px;
            line-height: calc(24/28);
    }
}

.header-nav__list {
    display: none;

    // !desktop screen
        @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    gap: 60px;
    // margin-left: 43px;
}
}

.header-nav__item {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(24/18);
        letter-spacing: 0.02em;
        color: $main-black;

        &:hover,
        &:focus {
            color: $main;
        }

                &.dark-theme {
                    color: $main-white;
                    &:hover,
                        &:focus {
                            color: $main;
                        }
                }
}

// !!!SWITCHER

// !SWITCH-BUTTON

.toggle-button {
    position: relative;
    width: 40px;
    height: 20px;
    margin: 0;
    background: $main-white;
    border: 1px solid $main;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 16px;
    height: 16px;
    background-color: $main;
    border-radius: 50%;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
    transform: translateX(calc(100% + 3.9px));
    background-color: $main-white;
}

.toggle-button:checked {
    border: 1px solid $main-white;
    background-color: $main;
}

// !SWITCH-THEME

.header-theme__list {
    display: none;

            // !desktop screen
    @media screen and (min-width: 1280px) 
        {display: flex;
        margin-left: 150px;
        margin-top: -2px;
        gap: 12px;}
}

.header-theme__item {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(24/18);
}

.header-theme--light {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(24/18);
    color: $main;
}

.header__switcher {
    width: 40px;
    height: 20px;
    background: $main-white;
    border: 0.604701px solid $main;
    border-radius: 20px;
}

.header-theme--dark {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(24/18);
    color: $grey;
}

body.dark-theme {
    background-color: $main-black;
    color: $main-white;
}

// !DROPDOWN

.fav__dropdown-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 48px;


    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33px;
    letter-spacing: 0.02em;
    color: $main-black;

}

.fav__select {
    position: relative;
}

.fav__select-input {
    cursor: pointer;
}

.fav__list {
    position: absolute;
    border: 1px solid $main;
    border-radius: 4px;
    width: 210px;
}


.fav__nav-link {
    background-color: inherit;
    border: 0;
    display: flex;
    align-items: center;
    padding-left: 12px;
    height: 48px;
    width: 100%;
    color: $main-black;

    &:hover,
    &:focus {
        background-color: $main;
        color: $main-white;
    }
}


// !Burger

.btn__burger-menu {
    // padding-top: 10px;
    padding-bottom: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    margin-left: auto;
    border: 0;
    background-color: transparent;

    @media screen and (min-width: 1280px) {
        display: none;
    }
}