.hero__info {
  display: block;
  margin-right: 59px;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
    margin-right: 0;
  }
  @media screen and (min-width: 1280px) {
    font-size: 52px;
    line-height: 1.54;
  }
}
.hero__mobtitle {
  color: #fd5103;
  font-family: 'Poppins';
  font-size: 22px;
  font-weight: 600;
  line-height: 1.91;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.hero__title {
  display: none;
  color: #fd5103;
  font-family: 'Poppins';
  font-weight: 600;
  line-height: 1.91;

  @media screen and (min-width: 768px) {
    display: block;
    font-size: 26px;
    line-height: 1.62;
    margin-bottom: 40px;
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    font-size: 52px;
    line-height: 1.54;
  }
}
.hero_image {
  margin-bottom: 60px;
}

.hero__section {
  // width: 100%;
}

.hero__box {
  width: 100%;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 120px;
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 120px;
  }
}

.symbol__panel {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}

.first__line {
  display: flex;
  gap: 4px;
  width: 324px;
}
.number__line {
  display: flex;
  gap: 1px;
  justify-content: center;
}

.keyboard__item {
  width: 24px;
  height: 25px;
  display: flex;
  gap: 1px;

  align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  @media screen and (min-width: 1280px) {
    width: 39px;
    height: 40px;
    font-weight: 700;
    gap: 0;
    font-size: 24px;
  }
}

.symbol__select {
  display: block;
  width: 93px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
select {
  width: 100%;
}
.choice__label {
  // color: $main-black;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  opacity: 0.8;
  margin-bottom: 20px;
  margin-left: 0px;
  // margin-right: auto;
  width: 280px;
  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-bottom: 40px;
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.56;
  }
}
