.hero__box {
  width: 100%;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 120px;
    display: flex;
    flex-direction: row-reverse;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 120px;
  }
}

.hero__info {
  display: block;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
    margin-right: 0;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 0;
  }
}
.hero__mobtitle {
  color: $main;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0.01em;
  font-weight: 600;
  line-height: 1.91;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.hero__title {
  display: none;
  color: $main;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.01em;
  @media screen and (min-width: 768px) {
    display: block;
    font-size: 26px;
    line-height: 1.62;
    margin-bottom: 40px;
    width: 100%;
     }
  @media screen and (min-width: 1280px) {
    font-size: 52px;
    line-height: 1.54;
  }
}
.hero_image {
  margin-bottom: 60px;
}

.hero__section {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
}

.symbol__panel {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
}

.first__line {
  display: flex;
  gap: 2px;
  justify-content: center;
}
.number__line {
  display: flex;
  gap: 2px;
  justify-content: center;
}

.keyboard__item {
  color: $grey;
  width: 24px;
  height: 25px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  @media screen and (min-width: 1280px) {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }
}
.keyboard__item:hover,
.keyboard__item:focus {
  color: $main;
  text-shadow: 0 1px 2px #5f6775aa;
  cursor: pointer;
}

.symbol__select {
  display: block;
  width: 93px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
select {
  width: 100%;
  border: 1px solid $main;
  border-radius: 4px;
  color: $main;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.35;
}

.choice__label {
  font-family: 'Poppins';
  color: $main-black-80;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.56;
  }
}
